# Temp Diptrace files #
*.dch~
*.dip~
# Build files
*.o
*.cmd
*.u
.idea/
/core/code/build/
/core/code/cubemx/CA7
/core/code/cubemx/CM4
/core/code/cubemx/Common
/core/code/cubemx/Drivers
/core/code/cubemx/EWARM
